/* index Section */
#index-section {
    background-image: url('../Imagenes/R.jpeg');
    background-color: #1b1f2e;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 80px 20px;
    display: flex;
    align-items: center;
} 

#about-me {
  background-image: url('../Imagenes/wp3228279.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
}


h1 span.text-warning {
  text-shadow: 2px 2px 4px black;
  font-weight: bold;
}


/* About Me */
h2.text-success {
    font-size: 2.8rem;
    text-shadow: 2px 2px 4px black;
    letter-spacing: 1px;
}

p.bg-dark {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

/* Portfolio */
#portfolio {
    background-image: url('../Imagenes/OIP.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 80px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

    #portfolio::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.65);
        z-index: 0;
    }

    #portfolio .container {
        position: relative;
        z-index: 2;
    }
#portfolio h2 {
  text-shadow: 2px 2px 4px black;
  font-size: 2.5rem;
}

.card-body img {
  filter: drop-shadow(0 0 5px #ffc107);
}

.card-title {
  font-size: 1.3rem;
  color: #ffc107;
}

.btn-warning {
  border-radius: 25px;
  transition: transform 0.2s ease-in-out;
}

.btn-warning:hover {
  transform: scale(1.05);
  background-color: #ffcc00;
}

#contact-section {
  background: radial-gradient(circle at top left, #282c34, #111);
  color: white;
  padding: 80px 20px;
  text-shadow: 2px 2px 4px black;
  background-image: url('../Imagenes/Obelisco.jpg');
  background-color: #1b1f2e;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 80px 20px;
  display: flex;
  align-items: center;
  
}
form input.form-control,
form textarea.form-control {
  background-color: rgba(0, 0, 0, 0.6); /* fondo oscuro translúcido */
  color: #FFD700; /* dorado brillante para texto */
  border: 2px solid #FFD700; /* borde dorado */
  font-weight: bold;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.7); /* resplandor dorado */
}

form input.form-control::placeholder,
form textarea.form-control::placeholder {
  color: #f5d76e; /* placeholder dorado suave */
  opacity: 0.8;
}

